<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Descripció</th>
        <th scope="col">Localització</th>
        <th scope="col">Codi Postal</th>
        <th scope="col">Número d'habitacions</th>
        <th scope="col">Número de banys</th>
        <th scope="col">Tipus de propietat</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{property.id}}</td>
        <td>{{property.name}}</td>
        <td>{{property.description}}</td>
        <td>{{property.location}}</td>
        <td>{{property.postal_code}}</td>
        <td>{{property.n_rooms}}</td>
        <td>{{property.n_baths}}</td>
        <td>{{property.property_type}}</td>
        <td>
          <a class="btn btn-primary btn-sm" routerLink="/form/{{property.id}}">Veure/Editar</a>
          <a class="btn btn-primary btn-sm btn-danger" (click)="delete(property.id)">Eliminar</a>
        </td>
      </tr>

  </table>
  
  