<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Localització</th>
        <th scope="col">Codi Postal</th>
        <th scope="col">Número d'habitacions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <th>{{property.name}}</th>
        <td>{{property.location}}</td>
        <td>{{property.postal_code}}</td>
        <td>{{property.n_rooms}}</td>
      </tr>

  </table>
  
  