    <form>
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Introdueix el nom">
      </div>
      <div class="form-group">
        <label for="description">Descripció</label>
        <textarea class="form-control" id="description" placeholder="Introdueix una descripció"></textarea>
      </div>
      <div class="form-group">
        <label for="name">Localització</label>
        <input type="text" class="form-control" id="location" placeholder="Introdueix la localització">
      </div>
      <div class="form-group">
        <label for="name">Codi Postal</label>
        <input type="text" class="form-control" id="postal_code" placeholder="Introdueix el Codi Postal">
      </div>
      <div class="form-group">
        <label for="name">Número d'habitacions</label>
        <input type="text" class="form-control" id="n_rooms" placeholder="Introdueix el número d'habitacions">
      </div>
      <div class="form-group">
        <label for="name">Númreo de banys</label>
        <input type="text" class="form-control" id="n_baths" placeholder="Introdueix el número de banys">
      </div>
      <div class="form-group">
        <label for="name">Tipus de propietat</label>
        <input type="text" class="form-control" id="property_type" placeholder="Introdueix el tipus de propietat">
      </div>
      
      <button type="submit" class="btn btn-primary">Envia</button>
    </form>
