    <h2>Crea Propietat</h2>
    <div>
      <div class="form-group">
        <label for="name">Nom</label>
        <input [(ngModel)]="property.name" type="text" class="form-control" id="name" placeholder="Introdueix el nom">
      </div>
      <div class="form-group">
        <label for="description">Descripció</label>
        <textarea [(ngModel)]="property.description" class="form-control" id="description" placeholder="Introdueix una descripció"></textarea>
      </div>
      <div class="form-group">
        <label for="name">Localització</label>
        <input [(ngModel)]="property.location" type="text" class="form-control" id="location" placeholder="Introdueix la localització">
      </div>
      <div class="form-group">
        <label for="name">Codi Postal</label>
        <input [(ngModel)]="property.postal_code" type="text" class="form-control" id="postal_code" placeholder="Introdueix el Codi Postal">
      </div>
      <div class="form-group">
        <label for="name">Número d'habitacions</label>
        <input [(ngModel)]="property.n_rooms" type="text" class="form-control" id="n_rooms" placeholder="Introdueix el número d'habitacions">
      </div>
      <div class="form-group">
        <label for="name">Númreo de banys</label>
        <input [(ngModel)]="property.n_baths" type="text" class="form-control" id="n_baths" placeholder="Introdueix el número de banys">
      </div>
      <div class="form-group">
        <label for="name">Tipus de propietat</label>
        <input [(ngModel)]="property.property_type" type="text" class="form-control" id="property_type" placeholder="Introdueix el tipus de propietat">
      </div>
      
      <button (click)="saveProperty()" class="btn btn-primary">Crea</button>
    </div>
